<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Jammer</title>

    <script src="{{host}}/node_modules/angular/angular.js" type="application/javascript"></script>
    <script src="{{host}}/js/controllers.js" type="application/javascript"></script>
    <link rel="stylesheet" href="{{host}}/css/pure.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="{{host}}/css/jammer.css">
    <link rel="stylesheet" href="{{host}}/css/font-awesome/font-awesome.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body ng-app="jammer">
